@import url('https://fonts.googleapis.com/css?family=Pacifico|Poppins:400,700&display=swap');
// COLORS
$color-green: #16a085;
$color-red: #e74c3c;
$color-blue: #2193b0;
$color-blue-light: #6dd5ed;
$color-white: #ecf0f1;
$color-black: #2d3436;
$color-grey: #adadad;
// FONTS
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Pacifico', cursive;
